<!DOCTYPE html>
<html>
  <body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>


    <!-- <p>Name: {{name}}</p>
    <p>Likes: {{likes}}</p>
    <p>Hello World!</p> -->

    {{> footer}}
  </body>
</html>
